<!DOCTYPE html>
<html lang="en" xmlns:v-for="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body id="app" class="p-3 mb-2 bg-secondary text-white">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://localhost:7070">Welcome</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="https://localhost:7070">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://localhost:7070/betting">Place a Bet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://localhost:7070/winners">Recent Winners</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div>
    <h2>Today's Winners: </h2>
    <br>
    <div v-for="winner in winners" class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">{{ winner.name }}</div>
<!--https://avatars.dicebear.com/api/adventurer-neutral/:seed.svg-->
        <img v-if="winner.profilePicture != null" class="card-img-top" src="winner.profilePicture" alt="Card image cap">
        <img v-if="winner.profilePicture == null" class="card-img-top" :src="'https://avatars.dicebear.com/api/adventurer-neutral/:' + winner.name + '.svg'" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{'Winning Bet: ' + winner.bet }}</h5>
            <p class="card-text">{{winner.name + ' has won ' }} {{winner.times_won + ' times'}}</p>
        </div>
    </div>
</div>
<script src="index.js" async defer></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>